.homeMain {
    /* height: 30%; */
    margin: 10% 15%;
}

.homeBody {
    flex-flow: column wrap;
    align-items: start !important;
}

.dynamicLines {
    gap: 1rem;
    padding: 1rem 0;
    transform-origin: left;
}

.dynamicLines__firstLine {}


.line {
    width: 200px;
    overflow: hidden;
}

.bar {
    animation: bar 5s infinite ease;
}

.antibar {
    animation: antibar 5s infinite ease;
}

.dynamicLines__thirdLine {}


.bar_animation {}

.dynamicLines__text {
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@keyframes bar {

    0%,
    100% {
        width: 10rem;
        /* Initial width */
        /* transform: translateX(0); */
    }

    50% {
        width: 25rem;
        /* Final width */
        /* transform: translateX(100px); */
        /* Moves the div to the right */
    }
}

@keyframes antibar {

    50% {
        width: 10rem;
    }

    0%,
    100% {
        width: 20rem;
    }
}